@model IEnumerable<RestaurantManage.Models.ReservationStatusHistory>

@{
    ViewData["Title"] = "Reservation Status History";
    Layout = "~/Views/Shared/AdminDashboardLayout.cshtml";
}
<link href="~/css/adminviewreservationstatushistory.css" rel="stylesheet" />


<h2>Reservation Status History</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email Address</th>
            <th>Reserve Date</th>
            <th>Reserve Time</th>
            <th>Number of Persons</th>
            <th>Table Name</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Created Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.FirstName</td>
                <td>@reservation.LastName</td>
                <td>@reservation.PhoneNumber</td>
                <td>@reservation.EmailAddress</td>
                <td>@reservation.ReserveDate.ToString("yyyy-MM-dd")</td>
                <td>@reservation.ReserveTime</td>
                <td>@reservation.Number_of_Persons</td>
                <td>@reservation.Table_Name</td>
                <td>@reservation.TableType</td>
                <td>@reservation.Amount</td>
                <td>@reservation.CreatedDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>
                    <span class="status @reservation.Status">@reservation.Status</span>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("AdminGetPendingReservations", "Restaurant")" class="AllUsers-register-btn">Back</a>

