@model List<RestaurantManage.Models.Registration>

@{
    Layout = "~/Views/Shared/AdminDashboardLayout.cshtml";
}

<h2 class="AllUsers-heading">Admins List</h2>

<table class="AllUsers-table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Phone Number</th>
            <th>Email Address</th>
            <th>Address</th>
            <th>Username</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var admin in Model)
        {
            <tr>
                <td>@admin.FirstName</td>
                <td>@admin.LastName</td>
                <td>@admin.DateOfBirth.ToString("yyyy-MM-dd")</td>
                <td>@admin.Gender</td>
                <td>@admin.PhoneNumber</td>
                <td>@admin.EmailAddress</td>
                <td>@admin.Address</td>
                <td>@admin.Username</td>
                <td>
                    <form method="post" action="@Url.Action("DeleteConfirmed", "Restaurant", new { id = admin.ID })" onsubmit="return confirm('Are you sure you want to delete this record?');">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="AllUsers-delete-btn">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="AllUsers-back-btn-container">
    <a href="@Url.Action("AllUsers", "Restaurant")" class="AllUsers-register-btn">Back</a>
</div>
